<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Contacts</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="about" target="blank">About Me</a></li>
        <li><a href="contact" target="blank">Contact</a></li>
        <li><a href="projects" target="blank">Projects</a></li>
        <li><a href="services" target="blank">Services</a></li>
      </ul>
    </nav>
  </header>

  <main class="contact--main">
    <div class="contact--main--content">
      <table class="contact--table">
        <tr>
          <td>
            <a href="https://twitter.com/danobentey" target='blank'><img src="./img/twitter-image.png"alt="" class="twitter"/> </a>
          </td>
  
          <td>
            <a href="https://facebook.com/danielobentey" target='blank'><img src="./img/facebook-image.png" alt="" class="facebook"/> </a>
          </td>
        </tr>
  
        <tr>
          <td colspan="2">
            <a href="https://github.com/danobentey" target='blank'><img src="./img/github-image.png" alt="" class="github"/> </a>
          </td>
        </tr>
  
        <tr>
          <td>
            <a href="https://linkedin.com/danobentey" target='blank'><img src="./img/linkedin-image.png" alt="" class="LinkedIn"/> </a>
          </td>
          <td>
            <a href="https://instagram.com/dobentey" target='blank'><img src="./img/instagram-image.png" alt="" class="instagram"/> </a>
          </td>
        </tr>
      </table>

    </div>

  </main>
    
    <footer> Copyright Daniel Obentey © 2022 </footer>

  
  <script src="script.js"></script>

 <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script> 
</body>

</html>
