<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio NodeJS</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about.html" target="blank">About Me</a></li>
        <li><a href="contact.html" target="blank">Contact</a></li>
        <li><a href="projects.html" target="blank">Projects</a></li>
        <li><a href="services.html" target="blank">Services</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1 class="name" >DANIEL OBENTEY</h1>
        <img class="pic" src="Headshot1.jpg" alt="me" width="400px" />
    <p class="mail">
      Email: 
      <a href="mailto:danobentey@gmail.com">Danobentey@gmail.com</a>
    </p>
    <p class="tel">
      Phone/Message: 
      <a href="tel:+2349066927907"> +234 906 692 7907</a>
    </p>
  </main>

  <div class="links">
    <a href="https://github.com/danobentey" target='blank'><img src="./img/git.png"alt="" className="github"/> </a>
    <a href="https://facebook.com/danielobentey" target='blank'><img src="./img/Facebook.png" alt="" className="facebook"/> </a>
    <a href="https://instagram.com/danobentey" target='blank'><img src="./img/Instagram.png" alt="" className="instagram"/> </a>
    <a href="https://linkedin.com/danobentey" target='blank'><img src="./img/Linkedin.png" alt="" className="LinkedIn"/> </a>
    <a href="https://twitter.com/dobentey" target='blank'><img src="./img/Twitter.png" alt="" className="twitter"/> </a>
  </div>

  <footer>
    Copyright Daniel Obentey © 2022
  </footer>
  <script src="script.js"></script>
</body>
</html>