<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Projects</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="about.html" target="blank">About Me</a></li>
        <li><a href="contact.html" target="blank">Contact</a></li>
        <li><a href="projects.html" target="blank">Projects</a></li>
        <li><a href="services.html" target="blank">Services</a></li>
      </ul>
    </nav>    
  </header>

  <main class="prejects--main">
    <section class="projects--sections">
      <sect>
        <a href="https://tiny-choux-f5c289.netlify.app/" target="blank">
          <img src="./img/project-ngo.png" alt="project-ngo" width="400px"/>
        </a>
      </sect>
      <sect class="projects--description">
        <h2>Non Govermental Organization</h2>
        <p>A charity donation website for several charities in Nigeria</p>
      </sect>
    </section>

    <section class="projects--sections">
      <sect>
        <a href="https://tiny-choux-f5c289.netlify.app/" target="blank">
          <img src="./img/project-ngo.png" alt="project-ngo" width="400px"/>
        </a>
      </sect>
      <sect class="projects--description">
        <h2>Non Govermental Organization</h2>
        <p>A charity donation website for several charities in Nigeria</p>
      </sect>
    </section>

    <section class="projects--sections">
      <sect>
        <a href="https://tiny-choux-f5c289.netlify.app/" target="blank">
          <img src="./img/project-ngo.png" alt="project-ngo" width="400px"/>
        </a>
      </sect>
      <sect class="projects--description" >
        <h2>Non Govermental Organization</h2>
        <p>A charity donation website for several charities in Nigeria</p>
      </sect>
    </section>

    <section class="projects--sections">
      <sect>
        <a href="https://tiny-choux-f5c289.netlify.app/" target="blank">
          <img src="./img/project-ngo.png" alt="project-ngo" width="400px"/>
        </a>
      </sect>
      <sect class="projects--description" >
        <h2>Non Govermental Organization</h2>
        <p>A charity donation website for several charities in Nigeria</p>
      </sect>
    </section>
  </main>


  <footer> Copyright Daniel Obentey © 2022 </footer>

  
  <script src="script.js"></script>

 <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script> 
</body>

</html>
