<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Services</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital@1&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="about" target="blank">About Me</a></li>
        <li><a href="contact" target="blank">Contact</a></li>
        <li><a href="projects" target="blank">Projects</a></li>
        <li><a href="services" target="blank">Services</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="services--main">
      <h1 class="services--title">
        We Offer A Variety Of Services
      </h1>
      <ul class="services--list">
        <li>Website Design</li>
        <li>Web Development</li>
        <li>Frontend Engineering / Consultancy</li>
        <li>Cloud  Hosting services</li>
      </ul>
      
    </div>
  </main>

  <footer> Copyright Daniel Obentey © 2022 </footer>

  
  <script src="script.js"></script>

 <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script> 
</body>

</html>
